@import "styles/_variables.scss";


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: $backgroundColor;
}

* {
  font-family: Arial, Inter;
}

a, button, p, span, input {
  font-size: 14px;
}
